<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Papaye Index Home - {{ package.name }} {{ release.version }}</title>
    </head>
    <body>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav navbar-nav navbar-left">
                        <a class="navbar-brand" href="#">Papaye</a>
                    </div>
                    <ul class="nav navbar-nav" role='tablist'>
                        <li class='active'><a href="#">Browse</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span> Admin</a></li>
                    </ul>
                </div>
            </nav>
        <div class="container">
                        <div class="jumbotron">
                            <h1>{{ package.name }} <small>{{ release.version }}</small></h1>
                            <p>{{ release.metadata.summary }}</p>
                            <p><a class="btn btn-primary btn-lg" role="button" href="{{ release_url }}">Download {{ release_file.__name__ }}</a></p>
                        </div>
                <div class="row">
                    <div class="col-md-9">
                        {#
                        <div class="page-header">
                            <h1>Super package <small>1.0.0</small></h1>
                            <p class="text-muted">Un super package qui fait plein de truc super bien</p>
                        </div>
                        #}
                        <p>
                        {{ description.whole|safe }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <header>Author</header>
                            <p>
                            {{ release.metadata.author }}<br>{{ release.metadata.author_email }}
                            </p>
                        </div>
                        <div>
                            <header>Licence</header>
                            <p>
                            {{ release.metadata.license }}
                            </p>
                        </div>
                        <div>
                            <header>Platform</header>
                            <p>
                            {{ release.metadata.platform }}
                            </p>
                        </div>
                        <div>
                            <header>Classifiers</header>
                            <p>
                                {% for classifier in  release.metadata.classifiers %}
                                {{ classifier }}<br>
                                {% endfor %}
                            </p>
                        </div>
                        {% if release.metadata.keywords %}
                        <div>
                            <header>Keywords</header>
                            <p>
                                <style>
                                    #tags li { display: inline-block;}
                                    #tags ul { padding-left: 0px;}
                                </style>
                                <ul id='tags'>
                                    {% for tag in release.metadata.keywords %}
                                    <li><span class="label label-default">{{ tag }}</span></li>
                                    {% endfor %}
                                </ul>
                            </p>
                        </div>
                        {% endif %}
                        <bobo>
                            <header>Maintainer</header>
                            <p>
                            <img src="http://www.gravatar.com/avatar/{{ gravatar_hash }}" alt="">
                            </p>
                        </bobo>
                        <div>
                            <a class="btn btn-info" href="{{ release.metadata.home_page }}" class="glyphicon glyphicon-home"></i> Project home page</a>
                        </div>
                    </div>
                </div>
                    <section id="download_link">
                            <!-- Nav tabs -->
                            <ul id="download-tab" class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#current-version" role="tab" data-toggle="tab">Files</a></li>
                                <li><a href="#all-versions" role="tab" data-toggle="tab">All versions</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="current-version">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>File</th>
                                                <th>Version</th>
                                                <th>Upload date</th>
                                                <th>Size</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane" id="all-versions">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>File</th>
                                                <th>Version</th>
                                                <th>Upload date</th>
                                                <th>Size</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
        </div>

        <div>

        </div>
    </body>
    {# Script and CSS #}
    {% assets "bootstrap_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "papaye_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "papaye_font" %}
    <link type="application/x-font-woff" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        (function($) {
            $(document).on('ready', function(){
                $('#download-tab a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });
            });
        })(jQuery);
    </script>
</html>
