<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Papaye Index Home - Papaye 1.0.0</title>
    </head>
    <body>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav navbar-nav navbar-left">
                        <a class="navbar-brand" href="#">Papaye</a>
                    </div>
                    <ul class="nav navbar-nav" role='tablist'>
                        <li class='active'><a href="#">Browse</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span> Admin</a></li>
                    </ul>
                </div>


            </nav>
        <div class="container">
                        <div class="jumbotron">
                            <h1>Papaye <small>1.0.0</small></h1>
                            <p>A basic PyPi server clone written in Pyramid Web Framework, using ZODB and Beaker Cache.</p>
                            <p><a class="btn btn-primary btn-lg" role="button">Download papaye-1.0.0-tar.gz</a></p>
                        </div>
                <div class="row">
                    <div class="col-md-9">
                        {#
                        <div class="page-header">
                            <h1>Super package <small>1.0.0</small></h1>
                            <p class="text-muted">Un super package qui fait plein de truc super bien</p>
                        </div>
                        #}
                        <p>
<div class="document">


<a class="reference external image-reference" href="https://travis-ci.org/rcommande/papaye"><img alt="https://travis-ci.org/rcommande/papaye.png?branch=master" src="https://travis-ci.org/rcommande/papaye.png?branch=master" /></a>
<div class="section" id="papaye">
<h1>papaye</h1>
<p>A basic PyPi server clone written in <a class="reference external" href="http://www.pylonsproject.org">Pyramid Web Framework</a>, using <a class="reference external" href="https://pypi.python.org/pypi/ZODB">ZODB</a> and <a class="reference external" href="http://beaker.readthedocs.org">Beaker Cache</a>.</p>
<div class="section" id="getting-started">
<h2>Getting Started</h2>
<ul class="simple">
<li>cd &lt;directory containing this file&gt;</li>
<li>$venv/bin/pip install -e .</li>
<li>$venv/bin/papaye_init development.ini  # Use production.ini in production</li>
<li>$venv/bin/pserve development.ini  # Use production.ini in production</li>
</ul>
</div>
<div class="section" id="configuration">
<h2>Configuration</h2>
<div class="section" id="papaye-variables">
<h3>Papaye variables</h3>
<div class="section" id="papaye-proxy-true-false">
<h4>papaye.proxy (true / false)</h4>
<p>Enable proxy from Pypi server</p>
</div>
<div class="section" id="papaye-anonymous-install-true-false">
<h4>papaye.anonymous_install (true / false)</h4>
<p>Allow anonymous user to install packages</p>
</div>
<div class="section" id="papaye-proxy-broker-zmq-uri">
<h4>papaye.proxy.broker (ZMQ URI)</h4>
<p>ZMQ URI used by queue and producer devices</p>
</div>
<div class="section" id="papaye-proxy-collector-zmq-uri">
<h4>papaye.proxy.collector (zmq uri)</h4>
<p>zmq uri used by collector device</p>
</div>
<div class="section" id="papaye-proxy-worker-zmq-uri">
<h4>papaye.proxy.worker (zmq uri)</h4>
<p>zmq uri used by worker devices</p>
</div>
<div class="section" id="papaye-worker-concurency-integer">
<h4>papaye.worker.concurency (integer)</h4>
<p>Number of workers</p>
</div>
</div>
</div>
</div>
</div>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <header>Author</header>
                            <p>
                                Romain Commandé <br>commande.romain@gmail.com
                            </p>
                        </div>
                        <div>
                            <header>Licence</header>
                            <p>
                                LGPL
                            </p>
                        </div>
                        <div>
                            <header>Platform</header>
                            <p>
                                UNKNOWN
                            </p>
                        </div>
                        <div>
                            <header>Classifiers</header>
                            <p>
                                Framework :: Pyramid<br>
                                Programming Language :: Python<br>
                                Topic :: Internet :: WWW/HTTP<br>
                                Topic :: Internet :: WWW/HTTP :: WSGI :: Application
                            </p>
                        </div>
                        <div>
                            <header>Keywords</header>
                            <p>
                                <style>
                                    #tags li { display: inline-block;}
                                    #tags ul { padding-left: 0px;}
                                </style>
                                <ul id='tags'>
                                    <li><span class="label label-default">web</span></li>
                                    <li><span class="label label-default">wsgi</span></li>
                                    <li><span class="label label-default">bfg</span></li>
                                    <li><span class="label label-default">pylons</span></li>
                                    <li><span class="label label-default">pyramid</span></li>
                                </ul>
                            </p>
                        </div>
                        <bobo>
                            <header>Maintainer</header>
                            <p>
                                <img src="http://www.gravatar.com/avatar/e528817ed8304eb35912a63d04a88814" alt="">
                            </p>
                        </bobo>
                        <div>
                            <a class="btn btn-info" href="#"><i class="glyphicon glyphicon-home"></i> Project home page</a>
                        </div>
                    </div>
                </div>
                    <section id="download_link">
                            <!-- Nav tabs -->
                            <ul id="download-tab" class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#current-version" role="tab" data-toggle="tab">Files</a></li>
                                <li><a href="#all-versions" role="tab" data-toggle="tab">All versions</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="current-version">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>File</th>
                                                <th>Version</th>
                                                <th>Upload date</th>
                                                <th>Size</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane" id="all-versions">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>File</th>
                                                <th>Version</th>
                                                <th>Upload date</th>
                                                <th>Size</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">papaye-1.0.0.tar.gz</a></td>
                                            <td>1.0.0</td>
                                            <td>2014-08-11 11:11:11</td>
                                            <td>45ko</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
        </div>

        <div>

        </div>
    </body>
    {# Script and CSS #}
    {% assets "bootstrap_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "papaye_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "papaye_font" %}
    <link type="application/x-font-woff" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        (function($) {
            $(document).on('ready', function(){
                $('#download-tab a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });
            });
        })(jQuery);
    </script>
</html>
