<!DOCTYPE html>
<html lang="en">
    <head id="head">
        <title>Papaye Index</title>
        {# Styles  #}
        <link rel="stylesheet" type="text/css" href="static/includes/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="static/includes/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="static/includes/WebFont-OpenSans/css/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="static/includes/highlightjs/styles/monokai_sublime.css" />
        <link rel="stylesheet" type="text/css" href="static/style.css" />
    </head>
    <body>
        <nav class="navbar navbar-default" id="navbar">
        </nav>
        <div class="container">
            <div id="breadcrumb"></div>
            <div id="content"></div>
        </div>
    </body>


<!--templates -->
    {# Scripts #}
    <script type="text/javascript" data-main="static/papaye/app"  src="static/includes/requirejs/require.js"></script>
</html>
