<!DOCTYPE html>
<html lang="en">
    <head id="head">
        <title>Papaye Index</title>
        {# styles  #}
        <link rel="stylesheet" type="text/css" href="static/style.css" />
        {# end styles  #}
    </head>

    <body>
        <div id="container"></div>
    </body>


    {# scripts #}
    <script language="javascript">
    window.APP_CONTEXT = {{ app_context | safe }};
    </script>
    <script type="text/javascript" charset="UTF-8" src="/static/jspm_packages/system.js"></script>
    <script src="/static/jspm.config.js"></script>
    <script>
      System.import('src/js/main.js');
    </script>
    {# end scripts #}
</html>
