<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <NavLink class="navbar-item" to="/" exact > Papaye </NavLink>
        </div>
    <div class="navbar-burger burger" data-target="navbar-menu" >
        <span></span>
        <span></span>
        <span></span>
    </div>
        
    <div class="navbar-menu" id="navbar-menu" >
        <div class="navbar-start">
          {% for navlink in request.state.navMenu %}
          {% set href = navlink.href[1:] if navlink.href.startswith('/') else navlink.href %}
            <a class="navbar-item" href={{ request.route_url('home', fizzle=href) }} exact activeClassName="is-active" >
                {{ navlink.title }}
            </a>
          {% endfor %}
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="oi" data-glyph="person"></span>&nbsp;{{ request.state.username }}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
