<html>
    <head>
        <title>Papaye Simple Index</title>
    </head>
    <body>
    {% for obj in objects %}
    <a href="{{ root_url }}{{ obj['name'] }}">{{ obj['name'] }}</a></br>
    {% endfor %}
    </body>
</html>
