<html>
    <head>
        <title>Papaye Simple Index</title>
    </head>
    <body>
    {% for obj in objects %}
    <a href="{{ root_url }}{{ obj['name'] }}{% if obj.type == 'release' %}?md5={{ obj.info.md5_digest }}{% endif %}">{{ obj['name'] }}</a></br>
    {% endfor %}
    </body>
</html>
