<html>
    <head>
        <title>Papaye Simple Index</title>
    </head>
    <body>
    {% for url, obj in objects %}
    <a href="{{ url }}{% if type == 'release' %}?md5={{ obj.__name__ }}{% endif %}" >{{ obj.__name__ }}</a></br>
    {% endfor %}
    </body>
</html>
