<table class="table table-striped table-hover" id="list_packages" >
    <form>
        <span class="input-group">
            <input type="text" class="form-control" ng-model="test"/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </span>
        {{ test }}
    </form>
    <div class="spacer"></div>
    <thead class="spacer">
        <tr>
            <th>Package</th>
            <th>Package</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="package in packages" ng-click="selectPackage(package.name)">
            <td>{{ package.name }}</td>
            <td>{{ package.summary }}</td>
        </tr>
    </tbody>
</table>
<p>{{ packageCount }} packages</p>
