<div class="">
    <form class="form-signin" role="form" name="loginForm" ng-submit="sendForm(loginForm)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Identifiant</label>
        <input type="text" class="form-control" placeholder="Identifiant" novalidate ng-required="true"  ng-model="identifiant.username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" novalidate ng-required="true" ng-model="identifiant.password">
        <div class="spacer"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
        <span ng-show="loginForm.login.$pristine">Pristine</span>
        <span ng-show="loginForm.login.$dirty">Dirty</span>
        <span ng-show="loginForm.login.$invalid">invalid</span>
    </form>
</div>
