<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Papaye</a>
    </div>

    <ul class="nav navbar-nav" role="tablist">
        {{#each pages}}
        <li class="{{active}}"><a href="{{url}}" data-name="{{name}}">{{name}}</a></li>
        {{/each}}
    </ul>

        <ul class="nav navbar-nav pull-right" ng-show="login.username">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{ login.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
</div>
