    <div id="nav-btn">
        <a class="btn btn-default" href="#/browse"><i class="glyphicon glyphicon-arrow-left"></i> Browse packages</a>
    </div>
    <div ng-switch-when="200">
        <div class="jumbotron">
        <h1>{{release.name}}<small> {{release.version}}</small></h1>
        <p>{{release.metadata.summary}}</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{{release.download_url}}">Download {{release.name}} v{{release.version}}</a></p>
    </div>
        <div class="row">
            <div class="col-md-9">
                <p>{{{release.metadata.description.content}}}</p>
            </div>
            <div class="col-md-3" ng-switch="release.metadata">
                <header><h1>Metadata</h1></header>
                {{#if release.metadata}}
                <div>
                    <div>
                        <header>Author</header>
                        <p>
                            {{release.metadata.author}}<br>{{release.metadata.author_email}}
                        </p>
                    </div>
                    <div>
                        <header>Licence</header>
                        <p>
                            {{release.metadata.licence}}
                            </p>
                    </div>
                    <div>
                        <header>Platform</header>
                        <p>
                            {{release.metadata.platform}}
                        </p>
                    </div>
                    <div>
                        <header>Classifiers</header>
                        <ul id="classifiers">
                            {{#each release.metadata.classifiers}}
                            <li>{{ this }}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div>
                        <header>Keywords</header>
                        <p>
                            <ul id='tags'>
                                {{#each release.metadata.keywords}}
                                <li><span class="label label-default">{{this}}</span></li>
                                {{/each}}
                            </ul>
                        </p>
                    </div>
                    <div>
                        <header>Maintainer</header>
                        <p>
                            <img src="http://www.gravatar.com/avatar/{{release.gravatar_hash}}.jpeg" alt="maintainer avatar">
                        </p>
                    </div>
                    <div>
                    <a class="btn btn-info" href="{{release.metadata.home_page}}" target="blank" class="glyphicon glyphicon-home"></i> Project home page</a>
                    </div>
                </div>
                {{else}}
                <div>
                    No informations
                </div>
                {{/if}}
            </div>
        </div>
        <section id="download_link">
                <ul id="download-tab" class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="" role="tab" data-toggle="#tab_files">Files</a>
                    </li>
                    <li>
                        <a href="" role="tab" data-toggle="#tab_other_releases">Other releases</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane spacer active" id="tab_files" >
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>File</th>
                                    <th>Version</th>
                                    <th>Upload date</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            {{#each release.release_files}}
                            <tr>
                                <td><a href="{{ url }}">{{ filename }}</a></td>
                                <td>{{ version }}</td>
                                <td>{{ upload_date }}</td>
                                <td>{{ size }}</td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                    <div class="tab-pane spacer" style="display: none;" id="tab_other_releases">
                        <div ng-switch="release.other_releases.length">
                            {{#ifIsZero release.other_releases.length}}
                            <div class="alert alert-info" ng-switch-when="0">
                                <p>
                                    There are no other release in the repository
                                </p>
                            </div>
                            {{else}}
                            <table class="table table-striped" ng-switch-default>
                                <thead>
                                    <tr>
                                        <th>Version</th>
                                        <th>Url</th>
                                    </tr>
                                </thead>
                                {{#each release.other_releases}}
                                <tr>
                                    <td>{{ version }}</td>
                                    <td><a href="{{ url }}">{{ url }}</a></td>
                                </tr>
                                {{/each}}
                            </table>
                            {{/ifIsZero}}
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>
