include *.txt *.ini *.cfg *.rst
recursive-include papaye *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
recursive-include papaye/templates *.jinja2
recursive-include papaye/static/includes *
recursive-include requirements *.txt
