<section class="filters well">
    <section>
        <p>
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#">Total<span class="badge package-count"></span></a></li>
            <li role="presentation"><a href="">Local<span class="badge package-count"></span></a></li>
            <li role="presentation"><a href="">Cached<span class="badge package-count"></span></a></li>
        </ul>
        </p>
    </section>
    <section>
        <form>
            <span class="input-group">
                <span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>
                <input type="text" class="form-control filter" placeholder="Search a package" />
                <span class="btn input-group-addon reset-filter"><em class="glyphicon glyphicon-remove"></em></span>
            </span>
        </form>
    </section>
</section>
    <section>
        <p>
            <div class="list-placeholder"></div>
        </p>
    </section>
