<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Papaye</a>
        </div>

        <ul class="nav navbar-nav menu-placeholder" role="tablist">
        </ul>

        <ul id='login_menu' class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><em class="fa fa-user"></em> {{username}}<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a class="logout" >Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
