<h1>Papaye index repository</h1>

<h2>How to use this repository</h2>
<p>
    <h3>In one command line</h3>
    <p>You can use with repository temporarily on pass PIP command argument</p>
    <pre class="bash">pip install your_package -i {{simple_url}}</pre>
</p>
<p>
    <h3>Per project configuration</h3>
    <p>If you want using this repository for only one specific project, you can add this line into the requirements.txt file:</p>
    <pre class="dos">-i {{simple_url}} .</pre>
</p>


<p>
    <h3>Permanent configuration</h3>
    <p>Edit the ~/.pip/pip.conf file like:</p>

    <pre class="ini">
[install]

[search]
index = {{simple_url}}
    </pre>
</p>

<h2>Uploading files</h2>

<p>
    <p>Edit your ~/.pypirc file like:</p>
    <pre class="ini">
[distutils]
index-servers =
    papaye

[papaye]
username: your_papaye_username
password: your_papaye_password
repository: {{simple_url}}
    </pre>
</p>
