<h1>Papaye index repository</h1>

<h2>How to use this repository</h2>

<h3>In one command line</h3>
<p>You can use with repository temporarily on pass PIP command argument</p>
<pre>pip install <package> -i {{ simpleUrl }}</pre>
<h3>Per project configuration</h3>
<p>If you want using this repository for only one specific project, you can add this line into the requirements.txt file:</p>
<pre>
-i {{ simpleUrl }}
.
</pre>


<h3>Permanent configuration</h3>
<p>Edit the ~/.pip/pip.conf file like:</p>

<pre>
[install]
index-url = {{ simpleUrl }}

[search]
index = {{ simpleUrl }}
</pre>

<h2>Uploading files</h2>

<p>Edit your ~/.pypirc file like:</p>
<pre>
[distutils]
index-servers =
    papaye

[papaye]
username: <papaye_username>
password: <papaye_password>
repository: {{ simpleUrl }}
</pre>
